# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Generated/data files
data/
images/
*.csv

# Keep source code / models tracked
# *.xml
.env
venv/
__pycache__/
.DS_Store
.idea/
data/
images/
*.csv